body {
  color: #fff; }

#hero {
  background: url("/assets/bg.jpg") no-repeat;
  background-size: cover;
  background-position: 0 60%; }

.navbar {
  width: 100%;
  background: #d11415;
  background-position: fixed;
  padding-top: 10px;
  /*min-height: 60px;*/
  /*.navbar-brand {
    font-weight: bold; 
}*/ }
  @media (max-width: 34em) {
    .navbar {
      background: black !important; } }
  .navbar .navbar-toggler {
    cursor: pointer;
    outline: 0; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link {
        font-weight: normal;
        color: #fff !important; } }

h1 {
  font-weight: bold;
  font-size: 3.5em;
  color: #a90502;
  font-family: 'Raleway', sans-serif; }

/*.heading { /*BEST RENT CAR 
    margin-top: -50px;
    font-size: 90px;
    color:#a90502;
    font-family: 'Raleway', sans-serif;
    float: left;
    text-transform: uppercase;
    position: absolute;
    text-align: left;
    line-height: 90%;
}*/
/*.top-right{  /*39 dolars for day
    position: absolute;
    top: 10px;
    right: 220px;
    font-size: 40px;
    float: right;
    font-family: 'Ralewey', sans-serif;
    color: #b5b5b5;
    letter-spacing: -1px;
}*/
.hero-img {
  /* CAR IMG */
  width: 80%; }

.feature-wrapper {
  color: #000; }

#join-container {
  background: url("/assets/screen1.jpg") no-repeat;
  background-size: cover; }
  #join-container h2 {
    letter-spacing: 4px;
    font-weight: bold; }
  #join-container h4 {
    color: gray; }
  #join-container .form-control {
    background: #111111;
    border: 3px solid #2F2F2F;
    padding: 10px; }
  #join-container .btn {
    padding: 12px;
    border: none;
    color: #000;
    cursor: pointer; }
